USE [master]
GO
/****** Object:  Database [DesiseasProjectDB]    Script Date: 13/11/2019 11:08:57 م ******/
CREATE DATABASE [DesiseasProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesiseasProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DesiseasProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesiseasProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DesiseasProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesiseasProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesiseasProjectDB]
GO
USE [DesiseasProjectDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13/11/2019 11:08:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/11/2019 11:08:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diets]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Diet1] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Diets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseDiets]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseDiets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Disease_ID] [int] NULL,
	[Gender] [bit] NULL,
	[Diet_ID] [int] NULL,
	[Precantion_id] [int] NULL,
	[Sport_id] [int] NULL,
	[AgeFrom] [int] NULL,
	[AgeTo] [int] NULL,
 CONSTRAINT [PK_dbo.DiseaseDiets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[GeneralInfo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Diseases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Precantions]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precantions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Info] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Precantions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 13/11/2019 11:08:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Info] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'7e2a0179-37e9-4a52-bd34-f800662bd8cf', N'Admins')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ce257351-1864-4509-8145-977748be4097', N'visitor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'487db065-a9cc-4799-8e2e-26140c86f17f', N'7e2a0179-37e9-4a52-bd34-f800662bd8cf')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'dfb15b0c-f0b2-477e-b985-0c599e0a5565', N'ce257351-1864-4509-8145-977748be4097')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Age], [Gender], [Name]) VALUES (N'487db065-a9cc-4799-8e2e-26140c86f17f', N'ayaad210@gmail.com', 0, N'ACoLjx4YD5MT1P8WCWa6aoZCcsa0tq0RzMucHPOrBVTz0NS1+x9CUV9yQ1sY4PV7ew==', N'b3a79d7d-80a6-4f48-91d6-a109374427f2', NULL, 0, 0, NULL, 1, 0, N'ayaad210@gmail.com', 78, 1, N'mohamed')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Age], [Gender], [Name]) VALUES (N'dfb15b0c-f0b2-477e-b985-0c599e0a5565', N'ayaad277@gmail.com', 0, N'AJ9LwHN02cRC245zE3TdsMEyE0UQyTUKU9kMnnKOaKnQxMK9H0iQsrkFKVsHZbb0PA==', N'b633170b-61df-4a12-bf4d-acad2092fe7e', NULL, 0, 0, NULL, 1, 0, N'ayaad277@gmail.com', 20, 0, N'sarah')
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([id], [Name], [Email], [Message]) VALUES (2, N'ahmed', N'ayaad218@gmail.com', N'sss')
INSERT [dbo].[Contacts] ([id], [Name], [Email], [Message]) VALUES (3, N'aa', N'ayaad211@gmail.com', N'bvhsb')
INSERT [dbo].[Contacts] ([id], [Name], [Email], [Message]) VALUES (5, N'sss', N'ayaad20@gmail.com', N'sssss')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Diets] ON 

INSERT [dbo].[Diets] ([ID], [Diet1], [Name]) VALUES (14, N' a thesaurus in general is mainly to help anyone who writes for living or fun—writers, managers, contributors to wikis, bloggers, and writers of love letters—to find words they don''t recall or even know when they recall words that are semantically related to the sought word. In general, anyone to whom the choice of words matters can benefit from a thesaurus, especially one linked to a dictionary providing the definitions.

', N'dietts 2')
SET IDENTITY_INSERT [dbo].[Diets] OFF
SET IDENTITY_INSERT [dbo].[DiseaseDiets] ON 

INSERT [dbo].[DiseaseDiets] ([ID], [Disease_ID], [Gender], [Diet_ID], [Precantion_id], [Sport_id], [AgeFrom], [AgeTo]) VALUES (19, 12, 1, 13, 1, 2, 10, 30)
INSERT [dbo].[DiseaseDiets] ([ID], [Disease_ID], [Gender], [Diet_ID], [Precantion_id], [Sport_id], [AgeFrom], [AgeTo]) VALUES (20, 12, 1, 14, 7, 1, 30, 40)
INSERT [dbo].[DiseaseDiets] ([ID], [Disease_ID], [Gender], [Diet_ID], [Precantion_id], [Sport_id], [AgeFrom], [AgeTo]) VALUES (21, 12, 1, 13, 7, 1, 41, 51)
SET IDENTITY_INSERT [dbo].[DiseaseDiets] OFF
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([ID], [Name], [GeneralInfo]) VALUES (12, N'Disease 1', N' disease is a particular abnormal condition that negatively affects the structure or function of part or all of an organism, and that is not due to any external injury. Diseases are often known to be medical conditions that are associated with specific symptoms ')
INSERT [dbo].[Diseases] ([ID], [Name], [GeneralInfo]) VALUES (13, N'Disease 2', N' disease is a particular abnormal condition that negatively affects the structure or function of part or all of an organism, and that is not due to any external injury. Diseases are often known to be medical conditions that are associated with specific symptoms ')
INSERT [dbo].[Diseases] ([ID], [Name], [GeneralInfo]) VALUES (14, N'Disease 3', N' disease is a particular abnormal condition that negatively affects the structure or function of part or all of an organism, and that is not due to any external injury. Diseases are often known to be medical conditions that are associated with specific symptoms ')
SET IDENTITY_INSERT [dbo].[Diseases] OFF
SET IDENTITY_INSERT [dbo].[Precantions] ON 

INSERT [dbo].[Precantions] ([id], [Info], [Name]) VALUES (1, N'The support for "word-wrap: break-word" is still buggy in most browsers, unfortunately. (code.google.com/p/chromium/issues/…) It does work in simple cases, though. "overflow: auto" does not (nor is supposed to) break words at all, it just adds a scrollbar if needed – matteo Jun 14 ''13 at 16:07', N'pre1')
INSERT [dbo].[Precantions] ([id], [Info], [Name]) VALUES (7, N'recaution (countable and uncountable, plural precautions)

Previous caution or care; caution previously employed to prevent misfortune or to secure good 
his life was saved by precaution
A measure taken beforehand to ward off evil or secure good or success; a precautionary act.
to take precautions against risks of accident', N'pre2')
SET IDENTITY_INSERT [dbo].[Precantions] OFF
SET IDENTITY_INSERT [dbo].[Sports] ON 

INSERT [dbo].[Sports] ([id], [Info], [Name]) VALUES (1, N'The support for "word-wrap: break-word" is still buggy in most browsers, unfortunately. (code.google.com/p/chromium/issues/…) It does work in simple cases, though. "overflow: auto" does not (nor is supposed to) break words at all, it just adds a scrollbar if needed – matteo Jun 14 ''13 at 16:07', N'sports1')
INSERT [dbo].[Sports] ([id], [Info], [Name]) VALUES (2, N'English Wiktionary Thesaurus is multilingual; it contains entries for other languages than English[1]. Such entries include Thesaurus:příbuzný and Thesaurus:juoppo. An alternative naming of the entries is "Thesaurus:cs:příbuzný" and "Thesaurus:fi:juoppo", in part modeled on the naming of topic categories. Yet another alternative is "Thesaurus:cs:relative" and "Thesaurus:fi:drunkard" using English headwords prefixed by the language.', N'sports2')
SET IDENTITY_INSERT [dbo].[Sports] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Diet_ID]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_Diet_ID] ON [dbo].[DiseaseDiets]
(
	[Diet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Disease_ID]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_Disease_ID] ON [dbo].[DiseaseDiets]
(
	[Disease_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Precantion_id]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_Precantion_id] ON [dbo].[DiseaseDiets]
(
	[Precantion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sport_id]    Script Date: 13/11/2019 11:08:59 م ******/
CREATE NONCLUSTERED INDEX [IX_Sport_id] ON [dbo].[DiseaseDiets]
(
	[Sport_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Age]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DiseaseDiets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Diets_Diet_ID] FOREIGN KEY([Diet_ID])
REFERENCES [dbo].[Diets] ([ID])
GO
ALTER TABLE [dbo].[DiseaseDiets] CHECK CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Diets_Diet_ID]
GO
ALTER TABLE [dbo].[DiseaseDiets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Diseases_DiseaseID] FOREIGN KEY([Disease_ID])
REFERENCES [dbo].[Diseases] ([ID])
GO
ALTER TABLE [dbo].[DiseaseDiets] CHECK CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Diseases_DiseaseID]
GO
ALTER TABLE [dbo].[DiseaseDiets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Precantions_Precantion_id] FOREIGN KEY([Precantion_id])
REFERENCES [dbo].[Precantions] ([id])
GO
ALTER TABLE [dbo].[DiseaseDiets] CHECK CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Precantions_Precantion_id]
GO
ALTER TABLE [dbo].[DiseaseDiets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Sports_Sport_id] FOREIGN KEY([Sport_id])
REFERENCES [dbo].[Sports] ([id])
GO
ALTER TABLE [dbo].[DiseaseDiets] CHECK CONSTRAINT [FK_dbo.DiseaseDiets_dbo.Sports_Sport_id]
GO
USE [master]
GO
