@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>

    <div class="page-header header-filter" data-parallax="true" style="background-image:url(../../assets/img/bg3.jpg">
    </div>
        @RenderBody()
   
</body>
</html>
